body{
    text-align: center;
 
}
.headings{
    padding-top: 20%;
    
}
hr{
    width: 30%;
}
#attemptLabel{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#img1{
    width: 0%;
}